html {
  background: url(http://www.1zoom.me/big2/43/321669-alexfas01.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn-dark {
    position: fixed;
    text-align: center;
    top: 75%;
    left: 45%;
    width: 200px;
    background-color: rgba(255, 108, 0, 0.8);
    border-radius: 300px;
  }

.btn-dark:hover {
  background-color: rgba(255, 116, 14, 0.95);
}
